/* =================================================================== */
/* Navy #495d7f
====================================================================== */

#navigation ul li a:hover,
#navigation ul li:hover > a,
#bolded-line,
.button.gray:hover,
.button.light:hover,
.price_slider_wrapper .ui-slider-horizontal .ui-slider-range,
.button.color,
.onsale,
input[type="submit"] {
    background: #495d7f;
}
#navigation > div > ul > li.current-menu-item > a,
.pricing-table .color-3 h3, .color-3 .sign-up,
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover,
.tp-leftarrow:hover,
.tp-rightarrow:hover,
#scroll-top-top a,
.quantity .plus:hover,#content .quantity .plus:hover,.quantity .minus:hover,#content .quantity .minus:hover,
.post-icon {
    background-color:#495d7f;
}

.mr-rotato-prev:hover,
.mr-rotato-next:hover,
li.current,
.tags a:hover {
    background-color: #495d7f;
    border-color: #495d7f;
}

#filters a:hover,
.selected,
.wp-pagenavi .current,
.pagination .current,
#portfolio-navi a:hover {
    background-color: #495d7f !important;
    border: 1px solid #495d7f !important;
}

.pricing-table .color-3 h4 {
    background-color: #495d7f !important;
    opacity:0.8
}


